.btn-text {
    transition: all .2s; 

    &:link,
    &:visited{
        font-size: $font-size;
        font-weight: 600;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 2px solid $color-primary;
        padding: .8rem;

        @include responsive(tabletp) {
            font-size: calc(#{$font-size} * #{$font-size-tabletp-multiplier});
        }
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-text-dark, 0.15);
        transform: translateY(-.3rem);
    }

    &:active {
        transform: translateY(0);
    }
}