.form {
    &__group {
        line-height: 0;

        &-radio {
            width: 49%;
            display: inline-block;
            padding-top: 1rem;

            @include responsive(phone) {
                width: 100%;
                padding: 2rem 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 4rem;

            @include responsive(phone) {
                margin-bottom: 2rem;
            }
        }
    }

    &__input {
        font-family: inherit;
        font-size:  1.5rem;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: border-bottom .2s;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        
            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-text-dark-2;
        }

        @include responsive(phone) {
            width: 100%
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 2rem;
        display: block;
        transform: translateY(1.5rem);
        opacity: 1;
        transition: .1s;
    }

    &__input:placeholder-shown + &__label {
        transform: translateY(-4rem);
        opacity: 0;
        visibility: hidden;
    }
}