//$colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-text-dark: #555555;
$color-text-dark-2: #999;

$color-text-light: #eeeeee;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light-0: #f9f9f9;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e1e1e1;
$color-grey-dark-1: #333333;


//$font-size
$font-size-small2: 1.4rem;
$font-size-small1: 1.5rem;
$font-size: 1.6rem;
$font-size-big2: 1.8rem;
$font-size-big3: 1.9rem;
$font-size-big4: 2rem;
$font-size-big6: 2.2rem;
$font-size-tabletp-multiplier: 1.2;
$font-size-tabletl-multiplier: 0.7;

//$grid
$grid-width: 114rem;
$grid-indent-row: 5rem;
$grid-indent-column: 5rem;
$grid-indent-column-small1: 2.8rem;

//$icon
$icon-font-size-small10: 5rem;
$icon-font-size: 6rem;
$icon-font-size-big1: 6.1rem;
$icon-font-size-big10: 7rem;
