.row {
    max-width: $grid-width;
    margin: $grid-indent-row auto;
    padding: 0 5rem;

    @include responsive(phone) {
        margin: 0;
    }

    @include responsive(tabletl) {
        max-width: initial;
        padding: 0 3rem;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $grid-indent-column;

            @include responsive(tabletl) {
                margin-right: $grid-indent-column-small1;
            }

            @include responsive(tabletp) {
                margin-right: 0;
                margin-bottom: $grid-indent-column;
            }
        }

        @include responsive(tabletp) {
            width: 100% !important;
        }
    }

    .col-1-of {
        &-2 {
            width: calc((100% - #{$grid-indent-column}) / 2);

            @include responsive(tabletl) {
                width: calc((100% - #{$grid-indent-column-small1}) / 2);
            }
        }

        &-3 {
            width: calc((100% - 2 * #{$grid-indent-column}) / 3);

            @include responsive(tabletl) {
                width: calc((100% - 2 * #{$grid-indent-column-small1}) / 3);
            }
        }

        &-4 {
            width: calc((100% - 3 * #{$grid-indent-column}) / 4);

            @include responsive(tabletl) {
                width: calc((100% - 3 * #{$grid-indent-column-small1}) / 4);
            }
        }
    }

    .col-2-of {
        &-3 {
            width:  calc((200% - #{$grid-indent-column}) / 3);

            @include responsive(tabletl) {
                width:  calc((200% - #{$grid-indent-column-small1}) / 3);
            }
        }

        &-4 {
            width: calc((200% - 2 * #{$grid-indent-column}) / 4);

            @include responsive(tabletl) {
                width: calc((200% - 2 * #{$grid-indent-column-small1}) / 4);
            }
        }
    }

    .col-3-of {
        &-4 {
            width: calc((300% - #{$grid-indent-column}) / 4);

            @include responsive(tabletl) {
                width: calc((300% - #{$grid-indent-column-small1}) / 4);
            }
        }
    }
}